[user]
	email = rapiz@foxmail.com
	name = Rapiz1
	signingkey = 5099FD92A9468760
[core]
	editor = vim
[commit]
	gpgsign = true
[http]
	proxy = localhost:7890
[https]
	proxy = localhost:7890
[format]
	signOff = True

