[user]
	email = code@rapiz.com
	name = Yujia Qiao
	signingkey = 5099FD92A9468760
[core]
	editor = vim
[commit]
	gpgsign = true
[http]
	proxy = localhost:7879
[https]
	proxy = localhost:7879
[format]
	signOff = True

