@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#TabsToolbar {
    visibility: collapse !important;
}
#sidebar-header {
  display: none;
}

/*
 * Floating sidebar
 */
@media screen and (max-width: 960px) {
	/*
#appcontent {
	margin-left: 35px;
}
*/
#sidebar-box:not([hidden]), #sidebar:not([hidden]) {
  min-width: 35px;
  max-width: 35px;
}
#sidebar-box:not([hidden]) {
	/*
  display: block;
	*/
  position: fixed;
  overflow: hidden;
  border-right: 1px solid #cdc7c2;
	/*
  transition: all 0.2s ease;
	transition-property: min-width, max-width;
	*/
}
#sidebar:hover,
#sidebar-box:hover {
  min-width: 200px !important;
  max-width: 200px !important;
}

#sidebar-splitter {
  display: none;
}

